.s-icon {
  --s-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--s-icon-color);
  font-size: inherit;
}

@each $val in primary,info,success,warning,danger {
  .s-icon--$(val) {
    --s-icon-color: var(--s-color-$(val));
  }
}
