:root {
  --vp-c-brand: var(--s-color-primary);
  --vp-c-brand-light: var(--s-color-primary-light-3);
  --vp-c-brand-lighter: var(--s-color-primary-light-5);
  --vp-c-brand-dark: var(--s-color-primary-dark-2);
  --vp-c-brand-darker: #265F99;

  --component-preview-bg: var(--vp-code-block-bg);
  --component-preview-soft: var(--vp-code-block-bg-light);
}

body {
  color: var(--vp-c-text-1);
}
h1, h2, h3, h4, h5, h6, p {
  color: var(--vp-c-text-1);
}
