.s-link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: var(--s-link-color);
  padding: 0;
  &:hover {
    color: var(--s-link-color);
    &.s-link--default {
      color: var(--s-color-primary);
    }
  }
  @each $val in primary, success, warning, info, danger {
    &.s-link--$(val) {
      --s-link-color: var(--s-color-$(val));
      --s-button-disabled-bg-color: var(--s-color-$(val)-light-5);
    }
  }
  &.is-underline {
    &:hover:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 0;
      bottom: 0;
      border-bottom: 1px solid var(--s-link-color);
    }
    &.s-link--default {
      &:hover:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 0;
        bottom: 0;
        border-bottom: 1px solid var(--s-color-primary);
      }
    }
  }
  &.is-disabled {
    color: var(--s-button-disabled-bg-color);
    cursor: not-allowed;
    &.s-link--default{
      color: #c0c4cc;
    }
  }
  & [class*='s-icon'] {
    
    & + span {
      margin-left: 5px;
    }
  }

  &.s-link--default {
    &:after {
      border-color: var(--s-link-hover-text-color);
    }
  }
}
