.s-message {
  --s-message-bg-color: var(--s-color-info-light-9);
  --s-message-border-color: var(--s-border-color-lighter);
  --s-message-padding: 15px 19px;
  --s-message-close-size: 16px;
  --s-message-close-icon-color: var(--s-text-color-placeholder);
  --s-message-close-hover-color: var(--s-text-color-secondary);
}
.s-message {
  width: fit-content;
  max-width: calc(100% - 32px);
  box-sizing: border-box;
  border-radius: var(--s-border-radius-base);
  border-width: var(--s-border-width);
  border-style: var(--s-border-style);
  border-color: var(--s-message-border-color);
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  background-color: var(--s-message-bg-color);
  padding: var(--s-message-padding);
  display: flex;
  align-items: center;
  transition: top var(--s-transition-duration), opacity var(--s-transition-duration), transform var(--s-transition-duration);
  .s-message__content {
    color: var(--s-message-text-color);
    overflow-wrap: anywhere;
  }
  &.is-close .s-message__content {
    padding-right: 30px;
  }
  .s-message__close {
    display: flex;
    align-items: center;
  }
  .s-message__close svg {
    cursor: pointer;
  }
}
@each $val in info,success,warning,danger { 
  .s-message--$(val) {
    --s-message-bg-color: var(--s-color-$(val)-light-9);
    --s-message-border-color: var(--s-color-$(val)-light-8);
    --s-message-text-color: var(--s-color-$(val));
    .s-message__close {
      --s-icon-color: var(--s-color-$(val));
    }
  }
}
.s-message.fade-up-enter-from,
.s-message.fade-up-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}
